#icon-twinfield {
	background: url("../images/icon-32x32.png") no-repeat;
}

.twinfield_form_types_list {
	background:#017bc4;
	border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-moz-border-radius:10px;
	height:29px;
	padding-left:15px;
	padding-right:15px;
	border-bottom:2px solid #0166a3;
}

	.twinfield_form_types_list li {
		margin-bottom:0;
		float:left;
	}

		.twinfield_form_types_list li a {
			color:#fff;
			font-weight:bold;
			text-decoration:none;
			padding:8px 8px 5px 8px;
			display:block
		}

		.twinfield_form_types_list li a.selected {
			background:#0166a3;
		}

